@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Noto+Sans&display=swap');
*{
    margin:0;
    padding: 0;
    color: rgb(35, 93, 131,0.8);
    font-family: noto sans;
}

.container{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(65, 164, 229); 
}
.container .img,img{
    position: relative;
    padding-left:20px ;
    height: 60px;
    width: 60px;
}
.container .search{
    position:absolute;
    left: 120px;
    top: 10px;
    height: 40px;
    width:50%;
    border-radius: 20px;
    display: flex;
    background-color:rgb(35, 93, 131);
    border-style: none;
}
.container .search table tr td input{
    position: absolute;
    top:1px;
    padding-left:5px;
    border-radius: 20px;
    height: 90%;
    width: 90%;
    font-size: 15px;
    color: white;
    background-color: rgb(35, 93, 131);
    border-style: none;
}
.container .search table tr td input:focus{
    outline: none;
}
.container .search table tr td a{
    position: absolute;
    right: 25px;
    bottom: 6px;
    float: right;
    border-style: none;
}
.fa-search{
    font-size: 25px;
    color: white;
}
.home{
    position:absolute;
    /* position: relative; */
    float: right;
    padding: 10px;
    right: 0;
}
.home table tr td a{
    font-family: noto sans;
    color: white;
    text-decoration: none; 
    padding: 20px;
}
.home table tr td :hover{
    color: rgb(35, 93, 131);
}
.section{
    color: rgb(35, 93, 131);
position: relative; 
padding:40px 0 20px 30px;  
font-family: noto sans  
}
.heading1{
    color: rgb(35, 93, 131,0.8);
    padding: 0 0 0 30px;
    font-family: noto sans;
}
.movie_box1{
    height: 450px;
    width: 100%;
    display: flex;
    /* background-color: rosybrown; */
}
.movie_box1 .movie_card{
    width: 20%;
    height:100%;
    margin: 0;
    /* margin-right: 5px; */
    /* background-color: royalblue; */
}
.movie_box1 .movie_card .movie_card1{
      width: 300px;
      height: 375px;
      /* box-shadow: 2px 2px 2px 2px  rgb(7, 7, 7,0.3);  */
}
.movie_box1 .movie_card .movie_card2{
    width: 300px;
    height:40px;
    display: flex;
    align-items: center;
    /* background-color: chartreuse; */
}
.movie_box1 .movie_card .movie_card1  img{
    height:100%;
    width: 250px;
     /* padding-right:10px; */
     /* overflow: hidden; */
     border-radius:15px!important; 
   
}
/* .movie_box1 .movie_card .movie_card1 img:hover{
    background-color: chocolate;
} */
.movie_box1 .movie_card .movie_card3{
    /* background-color: chocolate; */
    height: 35px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    text-align: center;
}
.movie_box1 .movie_card .movie_card2 img{
    display: inline; 
    padding-left:35px;
    width: 30px;
    height:30px;

}
.see_more{
    padding: 50px;
    height: 60px;
    width: 100%;
    /* background-color: rgb(35, 93, 131); */
}
.see_more .see_button{
    padding-top:12px ;
    height: 40px;
    width: 300px;
    margin: auto;
    /* justify-content: center; */
    border-radius: 33px;
    border: 2px solid rgb(35, 93, 131);
    background-color: white;

}
.see_more .see_button .link{
    color: rgb(35, 93, 131);
     /* text-decoration: none; */
     padding-left: 105px;
    font-size: 22px;
   
}
.see_more .see_button .link a{
    text-decoration: none;
    color: rgb(35, 93, 131,0.6);
}
.see_more .see_button .link a:hover{
    color: rgb(35, 93, 131);
    border-bottom: 2px solid rgb(35, 93, 131);
}
.footer{
    width: 100%;
    height: 150px;
    display: flex;
    /* background-color: rosybrown; */
}
.footer .f1{
    margin: auto;
}
.footer .f1 a{
    color: rgb(35, 93, 131,0.8);
    text-decoration: none;
    font-size: 15px;
}
.footer .f1 a:hover{
    color: rgb(35, 93, 131);
}